extends base.pug


    

block content 

    div.admin-board( style ='')
        if admin
            h2 Admin Board
            a(class='btn-primary p-2' d='logout' href='/ad-logout' type='submit' placeholder="logout") logout
            hr
            div
                h2 Add a new product
                br
                .add-product
                    form(method="post" action='/add-product' enctype="multipart/form-data" required='true')
                        a Name : 
                        input.in-style(class="form-control" type="text", name="name" required='true')
                        br
                        a Price : 
                        input.in-style(class="form-control" type="text" required='true' name='price' )
                        br
                        a Category :
                        select.in-style(name="category" class="form-control" required)
                            option(disabled selected value="") --
                            option(value="Electronics") Electronics
                            option(value="Computing") Computing
                            option(value="Books") Books
                            option(value="Shoes") Shoes
                            option(value="Supermarket") Supermarket
                            option(value="Fashion") Fashion
                            option(value="Health&Beauty") Health & Beauty
                            option(value="SportingGoods") Sporting Goods

                        
                        br
                        a Description :
                        br
                        textarea.in-style(class="form-control" name="description", cols="80", rows="5" required='true')
                        br
                        a Image : 
                        input(type="file" name='img' required='true')
                        br
                        input.search-btn(type="submit", value="Add")
                        br
                        hr

            div 
                h2 List of the products 
                if isEmpty
                    h4.text-danger There is no products in the Db.
                if rows 
                    <table class="table table-striped custom">
                        if !isEmpty
                            <thead class='thead-dark'>
                                <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">ImageUrl</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </tr>
                        </thead>
                        <tbody>
                            each row in rows 
                                <th scope="row" > #{row.ID} </th>
                                <td> #{row.NAME}</td>
                                <td>#{row.PRICE}</td>
                                <td>#{row.Category}</td>
                                <td>#{row.ImgUrl}</td>
                                td
                                    - var x = "/delete-product/" ;
                                    form(action= x + row.ID method="POST")
                                        input(type='submit' class='btn btn-danger' value='Delete' name="#{row.NAME}" ) 
                                td
                                    // Button trigger modal
                                    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModalCenter')
                                    | Launch demo modal
                                    // Modal
                                    #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
                                        .modal-dialog.modal-dialog-centered(role='document')
                                            .modal-content
                                                .modal-header
                                                    h5#exampleModalLongTitle.modal-title Modal title
                                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') &times;
                                                .modal-body
                                                    | ...
                                                .modal-footer
                                                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                                                    button.btn.btn-primary(type='button') Save changes
                                tr
                        </tbody>
                    </table>
                            