extends base.pug


    

block content 
    
    div.admin-board( style ='')
        if admin
            h2 Admin Board
            a(class='btn-primary p-2' d='logout' href='/ad-logout' type='submit' placeholder="logout") logout
            hr
            div
                h2 Add a new product
                br
                .add-product
                    button.btn.btn-primary(class='add-btn' id='add' onclick="ShowModal('add-modal')") add product
                    .modal(id='add-modal' )
                        .modal-content
                            span(class="close" id='close-add-modal') &times;
                            h2 Add product                
                            form(method="post" action='/add-product' enctype="multipart/form-data" required='true')
                                a Name : 
                                input.in-style(class="form-control" type="text", name="name" required='true')
                                br
                                a Price : 
                                input.in-style(class="form-control" type="number" required='true' name='price' )
                                br
                                a Category :
                                select.in-style(name="category" class="form-control" required)
                                    option(disabled selected value="") --
                                    option(value="Electronics") Electronics
                                    option(value="Computing") Computing
                                    option(value="Books") Books
                                    option(value="Shoes") Shoes
                                    option(value="Supermarket") Supermarket
                                    option(value="Fashion") Fashion
                                    option(value="Health&Beauty") Health & Beauty
                                    option(value="SportingGoods") Sporting Goods

                                
                                br
                                a Description :
                                br
                                textarea.in-style(class="form-control" name="description", cols="80", rows="5" required='true' maxlength="256")
                                br
                                a Image : 
                                input(type="file" name='img' required='true')
                                br
                                hr

                                input.search-btn(type="submit", value="Add")
                                br
                                hr
            hr
            div 
                h2 List of the products 
                if isEmpty
                    h4.text-danger There is no products in the Db.
                if rows 
                    <table class="table table-striped custom">
                        if !isEmpty
                            <thead class='thead-dark'>
                                <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">ImageUrl</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                </tr>
                        </thead>
                        <tbody>
                            each row in rows 
                                <th scope="row" > #{row.ID} </th>
                                <td> #{row.NAME}</td>
                                <td>#{row.PRICE}</td>
                                <td>#{row.Category}</td>
                                <td>#{row.ImgUrl}</td>
                                td
                                    
                                    form(action="/delete-product/" + row.ID method="POST")
                                        input(type='submit' class='btn btn-danger' value='Delete' name="#{row.NAME}" ) 
                                td
                                    
                                    button.btn.btn-primary(class='update-btn' id='update'+row.ID onclick="ShowModal('up-modal"+ row.ID + "')") update
                                    .modal(id='up-modal'+ row.ID )
                                        .modal-content
                                            span(class="close" id='close-up-modal'+ row.ID) &times;
                                            h2 Update product
                                            
                                            form(method="post" action='/update-product/' + row.ID enctype="multipart/form-data"  required='true')
                                                a Name : 
                                                input.in-style(class="form-control" type="text", name="name" placeholder= row.NAME required='true')
                                                br
                                                a Price : 
                                                input.in-style(class="form-control" type="number" placeholder= row.PRICE required='true' name='price' )
                                                br
                                                a Category :
                                                select.in-style(name="category" class="form-control" required )
                                                    option(disabled selected value="") --
                                                    option(value="Electronics") Electronics
                                                    option(value="Computing") Computing
                                                    option(value="Books") Books
                                                    option(value="Shoes") Shoes
                                                    option(value="Supermarket") Supermarket
                                                    option(value="Fashion") Fashion
                                                    option(value="Health&Beauty") Health & Beauty
                                                    option(value="SportingGoods") Sporting Goods

                                                
                                                br
                                                a Description :
                                                br
                                                textarea.in-style(class="form-control" name="description", cols="80", rows="5" placeholder= row.DESCRIPTION required='true' maxlength="256")  #{row.DESCRIPTION}
                                                    
                                                br
                                                br
                                                a Image : 
                                                input(type="file" name='img' required='true' placeholder= row.ImgUrl)
                                                br
                                                
                                                hr
                                                br
                                                input.search-btn(type="submit", value="Update")
                                            
                                    
        

                                tr
                        </tbody>
                    </table>
    
    script.
                                        function ShowModal(id){
                                            var modal = document.getElementById(id);

                                            // Get the button that opens the modal
                                            

                                            // Get the <span> element that closes the modal
                                            var span = document.getElementById("close-"+ id);

                                            // When the user clicks the button, open the modal 
                                            
                                            modal.style.display = "block";
                                            // When the user clicks on <span> (x), close the modal
                                            span.onclick = function() {
                                            modal.style.display = "none";
                                            }

                                            // When the user clicks anywhere outside of the modal, close it
                                            window.onclick = function(event) {
                                            if (event.target == modal) {
                                                modal.style.display = "none";
                                            }  
                                            }  
                                                
                                        }                 